body {
  margin: 0;
  padding: 0;
  font-family: "DM Serif Text";
}

.snowman-body {
  overflow: hidden;
  height: 100vh;
  width: 100vw;
  background-image: url("../src/assets/back.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}

.snowman-puppet {
  position: relative;
}

.snow-content {
  text-align: center;
  font-size: 3rem;
  padding: 30px 0;
  letter-spacing: 0.5rem;
  color: #fff;
}

#snowman {
  width: 35%;
  animation: slide-in 2s ease-in-out forwards;
}

@keyframes slide-in {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}
